.companyListing {
  display: grid;
  grid-template-columns: auto auto;
}

.alternate {
  background-color: #2b4472;
}

.alternate:nth-child(2),
.alternate:nth-child(3),
.alternate:nth-child(6),
.alternate:nth-child(7),
.alternate:nth-child(10),
.alternate:nth-child(11),
.alternate:nth-child(14),
.alternate:nth-child(15),
.alternate:nth-child(18),
.alternate:nth-child(19),
.alternate:nth-child(22),
.alternate:nth-child(23),
.alternate:nth-child(26),
.alternate:nth-child(27),
.alternate:nth-child(30) {
  background-color: #162c55;
}

.card-img {
  opacity: 0.5;
}

.right-side {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 767px) {
  .alternate {
    height: 37vh;
    font-size: 10px;
  }
}
